appdirs==1.4.3
asgiref==1.0.1
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.1.1
constantly==15.1.0
daphne==1.1.0
Django==1.10.6
django-crispy-forms==1.6.1
django-taggit==0.22.0
incremental==16.10.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
six==1.10.0
Twisted==17.1.0
txaio==2.6.1
zope.interface==4.3.3
