body {
    background-color: #fafafa;
}

#content {
    margin-top: 51px !important;
}

.navbar-default {
    background-color: #fff !important;
}

.logo {
    font-family: SignPainter, serif !important;
    font-size: 36px;
    color: #3385c2 !important;
}


/* ============================= */

/* ========= HEADER =============*/

/* ============================= */

header {
    height: calc(100vh - 51px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.jpg);
    background-size: cover;
}
