{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/ionicons-2.0.1/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <title>HelpJS</title>
</head>

<body>

{% include 'navbar.html' %}


<div id="content">
    <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
            {# Django Messages #}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    </div>


    {% block content %} {% endblock %}
</div>

{% block javascript %}

    <script>
        var username = "{{ request.user.username }}";
        var userProfileImage = "{{ request.user.profile_image.url }}"
    </script>

    <script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'css/jquery.countdown-2.1.0/jquery.countdown.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <script>
        // Remove the Django message after 5 seconds
        setTimeout(function () {
            let $target = $('.alert');
            $target.hide('slow', function () {
                $target.remove();
            });
        }, 5000);
    </script>
{% endblock %}

</body>

</html>
